<!DOCTYPE HTML>
<html>
	<head>
		<title>About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body>

		<!-- Header--> 
			<header id="header">
				<h1><strong><a href="/about">About</a></strong> Website</h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2></h2>
						<p></p>
					</header>

					<a href="#" class="image fit"><img src="static/images/c1.jpg" width="400" height="500" /></a>
					<h3>In this website we provide you with an Analysis test which may help you predict you future smoking behaviour.<br>
						We used Four various algorithms and among them , the best is choosen to predict the behaviour.List of the algorithms<br></h3>
						<font color="green"><ul>
						<li><a href="https://medium.com/machine-learning-101/chapter-5-random-forest-classifier-56dc7425c3e1">Random forest classifier</li></a>
						<li><a href="https://towardsdatascience.com/understanding-gradient-boosting-machines-9be756fe76ab">Gradient Boosting algorithm</li></a>
						<li><a href="https://www.xoriant.com/blog/product-engineering/decision-trees-machine-learning-algorithm.html">Decision Tree classifier</li></a>
						<li><a href="https://machinelearningmastery.com/naive-bayes-for-machine-learning/">Gaussian Naive Baye's classifier</li></a>
						</ul>  </font>
					<h2><center>Domain Used</center></h2>
					<section id="one" class="wrapper style3">
					<div class="container 75%">
						<div class="row 200%">

							<div class="6u 12u$(medium)">
								<header class="major">
									<a href="https://www.sas.com/en_gb/insights/articles/analytics/a-guide-to-predictive-analytics-and-machine-learning.html"><img src="static/images/ml.jpg" width="400" height="300"></a>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
							<a href="https://nationalinterest.in/big-data-analytics-using-machine-learning-algorithms-c33ef8488638"><img src="images/bd.jpg" width="400" height="300"></a>
						</div>
					</div>
				</section>

					<h3><font color="#000000">We using the current trending technology of Machine Learning along with Big Data have analyzed lots of data and based upon it we have selecetd few parameters based upon which we will predict the smokers future behaviour.(i.e) Whether he will again smoke in the future based upon some conditions which may arise.We provide an set of 47 questions related to addiction stuffs to the user, which he has to answer and based upon the answers we analyze the result.Results would provide the percentile of smokers curent behaviour status along with his future intentions.we only analyze the data given by the user and sometimes the outcome may be false.<br>
						<h4>So we dont assure that the result wil be surely working in the future it might change based upon the conditions of the smoker.</h4> </h3>
						
					<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2> Classifiction of Algorithms based upon parameters</h2>
							<p></p>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
								 
									<img src="static/images/ci.png" width="520" height="430" />
								
									<h3>Report of Various Algorithms</h3>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
							
									<img src="static/images/mi.png"width="520" height="430" />
								</video>

									<h3>Confusion Matrix of Different parameters</h3>
								</div>
							</div>
						</div>
						
					</div>
				</section> 

					<h3><font color="#fff000">In our website we have also provided few Top De-Addicition centers of India Details in the Home page ,So the user who wants to get rid of their addiction could check it and could get rid of their habits with the treatment..</font></h3>
					<h2> <center><font color="green"><h4>Each cigratte you light, each nerve of your body is getting burned</font></center></h4></h2>

				</div>
			</section>
<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							
						<ul class="actions">
							<li><a href="/" class="button special big">GO TO HOME PAGE</a></li>
						</ul>
					</div>
				</section>



		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>