<!DOCTYPE html>
<html>
<title>Blog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="static/assets/css/main.css" />
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<header id="header" class="alt">
        <h1><strong><a href="/blog">Blog on Smokers stories</a></strong></h1>
        <nav id="nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
      </header>
<body class="w3-black">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">



<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="static/images/a.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>Amanda’s Story</b></h3>
      <h5>Title description, <span class="w3-opacity">April 7, 2013</span></h5>
    </div>

    <div class="w3-container">
      <p>Amanda started smoking in fifth grade, and by age 13, she smoked every day. Over time, smoking crept into every corner of her life. She was so addicted that she ducked outside to smoke throughout the day, even during Wisconsin’s bitter cold winters.

While in college, newly engaged—and still smoking a pack a day—Amanda learned she was pregnant. She tried to quit, but juggling work and classes was stressful. She thought cigarettes helped deal with stress. She soon learned that smoking only made things worse. Her baby was born 2 months early, which is a danger for all pregnant women who smoke. The tiny baby girl spent weeks in a hospital incubator. “I knew that smoking was bad… I didn’t think I would have a premature baby,” said Amanda. “I couldn’t hold her much in those first weeks. It’s time I’ll never get back. Smoking took that from me.”</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><a href="https://www.cdc.gov/tobacco/campaign/tips/stories/amanda.html"><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p></a>
        </div>
        
      </div>
    </div>
  </div>
  <hr>

  <div class="w3-card-4 w3-margin w3-white">
    <img src="static/images/d.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>Dana’s Story</b></h3>
      <h5>Title description, <span class="w3-opacity">May 20, 2009</span></h5>
    </div>

    <div class="w3-container">
      <p>Dana, 38, was a young teenager when she started smoking cigarettes occasionally with friends. Most of Dana’s family and friends smoked, so she thought it was a normal thing to do. By the time she was 16, Dana was smoking daily and sharing cigarettes with her mother.

In 2001, Terrie was diagnosed with smoking-related oral and throat cancers. She had surgery to remove her larynx (voice box), leaving her to speak through an artificial voice device. Radiation and chemotherapy treatments scarred Terrie’s face and neck. Dana supported her mother through the difficult journey while fighting her own battle with nicotine addiction.

Terrie’s cancer returned several times and eventually spread to her brain. In 2009, Dana moved closer to home to help care for her mom. “It’s been very difficult for the family because you go through everything they go through,” Dana explained in a Tips video. “Maybe not in the same way, but you’re still there.”

After Terrie died in 2013, Dana decided to quit smoking cigarettes. With the help of prescription quitting medication, she quit smoking for good. “Mom always told me, never stop trying to quit,” Dana said. “I think she would be as proud of me as I was of her.”</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><a href="https://www.cdc.gov/tobacco/campaign/tips/stories/dana.html"><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p></a>
        </div>
              </div>
    </div>
  </div>
  <hr>
<div class="w3-card-4 w3-margin w3-white">
    <img src="static/images/b.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>Brian I.’s Story</b></h3>
      <h5>Title description, <span class="w3-opacity">June 15, 2016</span></h5>
    </div>

    <div class="w3-container">
      <p>Brian was in good health, working and managing his infection with HIV—the virus that can cause AIDS—when smoking led to health problems that nearly killed him. Smoking is especially dangerous for people who are living with HIV. For Brian, smoking and having HIV led to clogged blood vessels. At age 43, he had a blood clot in his lungs, a stroke, and surgery on an artery in his neck.

Brian had already beat tough health problems—including being very sick with AIDS—but he had not quit smoking. “It took a stroke for me to actually stop smoking,” said Brian. For months after the stroke, Brian had trouble speaking and reading. He couldn’t work or even dress himself. Today, his right hand is still weak, so he can no longer work as a waiter or teach pottery classes. Brian hopes his story will inspire other people to quit smoking before it’s too late. “Smoking is something that you do have control over. You can stop. And it’s worth your life to stop smoking.”</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><a href="https://www.cdc.gov/tobacco/campaign/tips/stories/brian.html"><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p></a>
        </div>
              </div>
    </div>
  </div>
  <hr>
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
  <img src="static/images/m.jpg" alt="Norway" style="width:100%">
    <div class="w3-container">
      <h3><b>Michael’s Story</b></h3>
      <h5>Title description, <span class="w3-opacity">April 2, 2014</span></h5>
    </div>

    <div class="w3-container">
      <p>“I was suffocating to death!” That’s how Michael—a veteran, an Alaska Native, and member of the Tlingit tribe—thinks back to why he quit smoking. A smoker since he was 9 years old, Michael was addicted to cigarettes for most of his adult life, including the 2 years he served in the U.S. Army. At 44, he was diagnosed with chronic obstructive pulmonary disease (COPD)—a condition also referred to as chronic bronchitis or emphysema—that makes it harder and harder to breathe. He ignored the symptoms until age 52, when he awoke gasping for air. He quit smoking that day.

Since then, Michael has had to have part of his lungs removed to improve his condition. However, COPD does not go away, and Michael now needs a lung transplant. He desperately wants to be around for his grandchildren, but he feels he’s running out of time</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><a href="https://www.cdc.gov/tobacco/campaign/tips/stories/michael.html"><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p></a>
        </div>
        
      </div>
    </div>
  </div>
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="static/images/q.png" style="width:100%">
    <div class="w3-container w3-white">
      <h4><a href="https://www.quitnow.ca/"><b>Quit Now </b></h4></a>
      <p>QuitNow is a customized program that works because it’s built for you. Using evidence-based strategies that have helped thousands of British Columbians, your path to a smoke-free life starts with a personalized approach to quitting</p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Apps</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="static/images/mc.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">MyQuit Coach</span><br>
        <span>personalized app to help you quit smoking</span>
      </li>
      <li class="w3-padding-16">
        <img src="static/images/cn.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Cessation Nation</span><br>
        <span>A group of people working to quit smoking.</span>
      </li> 
      <li class="w3-padding-16">
        <img src="static/images/sf.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Smoke Free</span><br>
        <span>Experiment to make people quit smoking.

</span>
      </li>   
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="static/images/k.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Kwit</span><br>
        <span>Quit smoking with a variety of games.</span>
      </li>  
    </ul>
  </div>
  <hr> 
 
  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-light-grey w3-margin-bottom">Smoking</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">World</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Diseases</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Cause</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Symptoms</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Stories</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Effects</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Medicine</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">De-Addiction centers</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"></span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"></span>
    </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>


</body>
</html>
