<!DOCTYPE HTML>
<html>
	<head>
		<title>Result</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="#one">Result of the Analysis</a></strong> by Machine Learning</h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
										</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<h2>Final Analysis Result</h2>
				<p>The Final results predicted by using Machine learning Algorithms is calculated <br />Click the below button to check it</p>
				<ul class="actions">
					<li><a href="#one" class="button special big">RESULT</a></li>
				</ul>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style7">
					<div class="container 100%">
						<section id="banner1">
				<h4>probability of your future smoking {{stage}}%</h4>
				<h4>based on data you are a current {{smoke1}} , {{smoke2}}</h4>
				
				<h3>Your future intention are as follows:</h3>
				<p>
				<h5>you think that you will try a ciarette soon :{{dsi1}}% &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </h5>
				<h5>you think that you will try a cigarette in a next year :{{dsi2}}%</h5>
				<h5>you think that if one of your best friends were to offer you a cigarette, you will smoke it :{{dsi3}}%</h5>
				<h5>you think that you will try smoking tobacco in a hookah or waterpipe soon :{{dsi4}}%</h5>
				<h5>you think that you will try smoking tobacco in a hookah or waterpipe in the next year :{{dsi5}}%</h5>
				<h5>your best friends were to offer you a hookah or waterpipe with tobacco, you will smoke it :{{dsi6}}%</h5>
				</p>
			</section>


				</section>

			
			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Smoking is a habit that drains your money and kills you slowly, one puff after another. Quit smoking, start living.”</h2>
							<p>--Narendra Modi</p>
						</header>
						<ul class="actions">
							<li><a href="/" class="button special big">Get Back Home</a></li>
						</ul>
					</div>
				</section>

		
		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>